.container-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 30px;
}

/* @media() */

.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  height: 250px;
  width: 200px;
  
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}