
<div>
	<span class="logo">SIGPAT</span>
</div>



<div>

	<mat-card class="login-box">
	
		<mat-card-title  class="mat-card-title">
			login
		</mat-card-title>
	
		<mat-card-content class="mat-card-content">
			<div class="form-div">
				<mat-form-field class="form-input">
					<input class="info-input" matInput placeholder="email">
				</mat-form-field>
			
				<mat-form-field class="form-input">
					<input class="info-input" matInput placeholder="password">
				</mat-form-field>

			</div>
			<br/>
			
			<a routerLink="/home">
				<button mat-raised-button color="primary" style="margin-right:5px;">login</button>
			</a>
			<button mat-raised-button color="primary" style="margin-right:5px;">recuperar senha</button>
		
		</mat-card-content>
	</mat-card>

</div>
